<button
  mat-raised-button
  color="primary"
  class="w-full py-2 text-lg font-semibold rounded-xl"
  (click)="onBuy()"
>
  Buy
</button>
<div
  class="min-h-screen flex items-center justify-center px-4 py-10 bg-slate-900"
>
  <div class="w-full max-w-md bg-slate-800 p-6 rounded-2xl shadow-lg">
    <h1 class="text-2xl font-semibold text-center title-text">
      Simple Payment
    </h1>
    <div class="flex flex-col items-center justify-center my-4">
      <img
        class="h-10 w-10 rounded-full bg-gray-300 dark:bg-gray-700"
        [src]="user?.photo_url"
        alt="User avatar"
      />
      <p class="text-white text-semibold">{{ user?.username }}</p>
    </div>

    <form [formGroup]="subscriptionForm" (ngSubmit)="onSubscribe()" class="space-y-4">

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Billing Email</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="email@example.com"
          type="email"
          autocomplete="email"
        />
      </mat-form-field>

      <!-- Submit -->
      <button
        mat-raised-button
        color="primary"
        class="w-full py-2 text-lg font-semibold rounded-xl"
        type="submit"
        [disabled]="subscriptionForm.invalid"
      >
        Subscribe 1$/day
      </button>
    </form>
  </div>
</div>
