@use "tailwindcss";
@use "@angular/material" as mat;

html,
body {
  height: 100%;
  background-color: var(--mat-sys-surface);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
